body{
    background-position: center;
    background-size: cover;
}
.header{
    font-family: Raleway;
    width: 100%;
    margin: 0px;
    font-size: large;
}
.input_class{
    margin: 5px;
    border-radius: 5px;
    width: 20%;
    color: rgb(255, 137, 216);
    background-color: rgb(255, 207, 240);
    border: 2px solid white;
}
.object_name_label{
    font-family: Raleway;
    font-weight: bold;
    font-size: 15px;
}
canvas{
    border-radius: 10px;
    background-color: rgb(205, 230, 255);
    box-shadow: 7px 7px 7px white;
}
p{
    font-family: Raleway;
    color: white;
    margin-bottom: 0px;
    font-size: small;
}